@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

html, body{
    margin: 0px;
    height: 100%;
    width: 100%;
    background-color: rgb(5, 1, 5);
    color: white;
    font-family: "Rubik";
}

#todo-title {
    text-align: center;
    /*text-decoration: underline;*/
    margin-top: 0px;
    margin-bottom: 10vh;
    padding: 3vh;
    border-bottom: 10px  solid rgb(90, 16, 121);
}

#todo {
    background-color: rgb(5, 1, 15);
    max-width: 80%;
    margin: auto;
    border: 5px solid rgb(87, 36, 169);
    border-radius: 2px;
    padding: 2%;
}

.todo-item {
    display: flex;
    align-items: left;
    justify-content: space-between;
    flex-direction: row;
    /*max-height: 3vh;*/
    padding: 1vh;
    margin: 1vh;
    border-bottom: 0.1vh solid rgb(3, 33, 98);
    font-size: 2vh;
}

.todo-info-title {
    font-size: 2vh;
    font-weight: bolder;
}

.todo-info-autor {
    font-size: 1.25vh;
}

.todo-info-description {
    font-size: 1.5vh;
    font-weight: 600;
}

.checkbox {
    display: flex;
    padding: 0px;
    position: relative;
    /*background-color: rgb(43, 0, 98);*/
    background-color: black;
    width: 2.5vh;
    height: auto;
    cursor: crosshair;
    border-radius: 5px;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 1px 10px rgb(46, 10, 81);
}

.checkbox img {
    width: 100%;
}